//COLORS
//https://huphtur.nl/images/flat-ui-color-palette-for-sketch.png
$c-white:#fefefe;
$c-concrete:#839595;
$c-clouds:#e8edee;
$c-slate:#222f3e;
$c-tomato:#ae2625;
$c-emerald:#33c461;
$c-sky:#2f85cf;