@mixin animate(){
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
@mixin card-size {
  border-radius:5px;
  height: 50vh;
  min-height:470px;
  margin:0 auto;
  width: 90vw;
  max-width:700px;
}